.services-inner-box {
    padding: 15px;
    background: #ffcc00;
    margin-bottom: 30px;
    border-radius: 50px 50px 0px 50px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.ser-icon {
    height: 90px;
    text-align: center;
    line-height: 90px;
    position: relative;
    z-index: 1;
}

    .ser-icon i {
        font-size: 50px;
        color: #333333;
    }

.services-inner-box h2 {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.services-inner-box p {
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.services-inner-box::after {
    background: #fff;
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50px 50px 0px 50px;
    transition: all 0.3s ease-in-out 0s;
    z-index: 0;
}

.services-inner-box:hover::after {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out 0s;
}

.services-inner-box:hover .ser-icon i {
    color: #ffffff;
}

.services-inner-box:hover h2 {
    color: #ffffff;
    transition: all 0.3s ease-in-out 0s;
}

.services-inner-box:hover p {
    color: #ffffff;
}
